
  <!-- <i class="fa" ng&#45;class="{'fa&#45;star&#45;o': !dashboardMeta.isStarred, 'fa&#45;star': dashboardMeta.isStarred}" style="color: orange;"></i> -->
  <!-- <i class="icon&#45;gf icon&#45;gf&#45;dashboard"></i> -->
<i class="icon-gf icon-gf-dashboard"></i>
<span>{{ctrl.dashboard.title}}</span>
<i class="fa fa-caret-down"></i>

<ul class="slide-menu navbar-dash-menu">
  <li ng-if="ctrl.dashboard.meta.canEdit">
    <a class="pointer" ng-click="openEditView('settings');">
      <i class="fa fa-cog"></i>
      Settings
    </a>
  </li>
  <li ng-if="ctrl.dashboard.meta.canEdit">
    <a class="pointer" ng-click="openEditView('annotations');">
      <i class="fa fa-bolt"></i>
      Annotations
    </a>
  </li>
  <li ng-if="ctrl.dashboard.meta.canEdit">
    <a class="pointer" ng-click="openEditView('templating');">
      <i class="fa fa-code"></i>
      Templating
    </a>
  </li>
  <li ng-if="ctrl.dashboard.meta.canEdit">
    <a class="pointer" ng-click="viewJson();">
      <i class="fa fa-eye"></i>
      View JSON
    </a>
  </li>
  <li ng-if="contextSrv.isEditor && !dashboard.editable">
    <a class="pointer" ng-click="makeEditable();">Make Editable</a>
  </li>
  <li>
    <a class="pointer" ng-click="saveDashboardAs();">
      <i class="fa fa-save"></i>
      Save As...
    </a>
  </li>
  <li class="dropdown-menu-item-with-shortcut">
    <a class="pointer" ng-click="showHelpModal();">
      <i class="fa fa-question"></i>
      Help <span class="dropdown-menu-item-shortcut">h</span>
    </a>
  </li>
  <li ng-if="dashboardMeta.canSave"><a class="pointer" ng-click="deleteDashboard();">Delete dashboard</a></li>
</ul>


