
.navbar {
  display: block;
  overflow: visible;
  position: relative;
  z-index: 110;
}

.navbar-inner {
  min-height: $navbarHeight;
  padding-right: $spacer;
  background-color: $navbarBackground;
  border-bottom: $navbarBorder;
  @include clearfix();
}

.navbar .nav {
  position: relative;
  left: 0;
  float: left;
}

.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
  margin-right: 0; // remove margin on float right nav
}

.navbar .nav > li {
  float: left;
}

// Links
.navbar .nav > li > a {
  float: none;
  padding: 17px 13px 13px;
  color: $navbarLinkColor;
  text-decoration: none;

  .fa { font-size: 115%; }
}

// Hover/focus
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover/:focus from .active
  color: $navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbarLinkColorActive;
  text-decoration: none;
  background-color: $navbarLinkBackgroundActive;
}

.navbar-brand-btn {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  border-right: 1px solid $tight-form-border;
  background-color: $navbarButtonBackground;
  padding: 0.4rem 1.0rem 0.4rem 1rem;
  margin: 0 4px 0 0;
  box-shadow: 1px 1px 5px #040404;
  background-image: linear-gradient(to bottom, #1f1f1f, #333333);
  background-repeat: repeat-x;

  .fa-caret-down {
    font-size: 70%;
  }
  .fa-chevron-left{
    display: none;
  }

  &:hover {
    background: $side-menu-bg;
  }

  img {
    width: 30px;
    position: relative;
    top: -1px;
  }

  .navbar-brand-btn-background {
    display: inline-block;
    border: 1px solid $body-bg;
    padding: 4px;
    border-radius: 50%;
    background: $iconContainerBackground;
    width: 40px;
    height: 40px;
  }

  .icon-gf-grafana_wordmark {
    font-size: 21px;
    position: relative;
    top: 4px;
    padding-left: 5px;
    display: none;
  }
}

.navbar-page-btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  display: block;
  margin: 0;
  font-size: 1.4em;
  border-right: 1px solid $tight-form-border;
  color: darken($link-color, 5%);
  background-color: $navbarButtonBackground;
  font-size: $font-size-lg;
  padding: 1rem 1rem 0.75rem 1rem;
  margin: 0 4px 0 0;
  box-shadow: 1px 1px 5px #040404;
  background-image: linear-gradient(to bottom, #1f1f1f, #333333);
  background-repeat: repeat-x;

  &:hover {
    background: $side-menu-bg;
    color: $link-color;
  }

  .fa-caret-down {
    font-size: 60%;
    padding-left: 0.2rem;
  }

  .icon-gf {
    position: relative;
    top: 2px;
    font-size: 20px;
    line-height: 8px;
  }

  > img {
    max-width: 27px;
    max-height: 27px;
  }
}

.navbar-page-btn-wrapper {
  display: inline-block;
  position: relative;
}

.navbar-dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out 0.0s;
  float: left;
  min-width: 140px;
  margin: 2px 0 0; // override default ul
  list-style: none;
  background: $side-menu-bg;
  box-shadow: 1px 1px 5px #040404;

  li a {
    display: block;
    white-space: nowrap;
    color: $text-muted;
    padding: $spacer/2 $spacer;
    border-left: 2px solid $side-menu-bg;

    i {
      display: inline-block;
      padding-right: $spacer/2;
    }

    &:hover {
      @include left-brand-border-gradient();
      color: $link-color;
      background: $input-label-bg;
    }
  }
}

.open {
  & > .navbar-dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}


.sidemenu-pinned {
  .navbar-brand-btn {
    background-color: $page-bg;
    width: $side-menu-width;

    .icon-gf-grafana_wordmark  {
      display: inline-block;
    }

    .fa-caret-down {
      display: none;
    }

    &:hover .fa-chevron-left {
      display: inline-block;
      color: $text-color-weak;
      position: relative;
      left: 1.3rem;
    }
  }
}

.navbar-section-wrapper {
  position: relative;
  float: left;
}
