.search-container {
  left: 129px;
  top: 0px;
  z-index: 1000;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  box-shadow: $search-shadow;
  padding: 0 10px 10px 10px;
  background: $side-menu-bg;

  .label-tag {
    margin-left: 6px;
    font-size: 11px;
    padding: 2px 6px;
  }
}

// Search
.search-field-wrapper {
  width: 100%;
  max-width: 700px;

  input {
    width: 100%;
    padding: 0.5rem 1.5rem;
    height: 51px;
    line-height: 51px;
    box-sizing: border-box;
    outline: none;
    background: $side-menu-bg;
  }

  button {
    margin: 0 4px 0 0;
  }

  > span {
    display: block;
    overflow: hidden;
  }
}

.search-results-container {
  height: 450px;
  overflow: auto;
  display: block;
  line-height: 28px;

  .selected {
    .search-result-tag {
      opacity: 0.70;
      color: white;
    }
  }

  .fa-star, .fa-star-o {
    padding-left: 13px;
  }

  .fa-star {
    color: $orange;
  }

  .search-result-link {
    color: $grafanaListMainLinkColor;
    .fa {
      padding-right: 10px;
    }
  }

  .search-item {
    display: block;
    padding: 3px 10px;
    white-space: nowrap;
    background-color: $panel-bg;
    margin-bottom: 4px;
    @include left-brand-border();

    .search-result-icon::before {
      content: "\f009";
    }

    &.search-item-dash-home .search-result-icon::before {
      content: "\f015";
    }

    &:hover {
      @include left-brand-border-gradient();
    }

    &.selected {
      background-color: $grafanaListBackground;
    }
  }

  .search-result-tags {
    float: right;
  }

  .search-result-actions {
    float: right;
    padding-left: 20px;
  }
}

.search-switches {
  position: absolute;
  top: 19px;
  right: 21px;
}

.search-button-row {
  padding-top: 20px;

  button, a {
    margin-right: 10px;
  }

  .search-button-row-explore-link {
    color: $text-muted;
    font-size: $font-size-sm;
    padding-right: 7rem;
    background: url(../img/grafana_net_logo.svg);
    background-size: 6.5rem;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top: 0.8rem;
    &:hover {
      color: $link-hover-color;
    }
  }
}

