
<i class="{{ctrl.icon}}"></i>
<span>{{ctrl.title}}</span>
<i class="fa fa-caret-down"></i>

<!-- <ul class="slide&#45;menu navbar&#45;dash&#45;menu"> -->
<!--   <li ng&#45;if="ctrl.dashboard.meta.canEdit"> -->
<!--     <a class="pointer" ng&#45;click="openEditView('settings');"> -->
<!--       <i class="fa fa&#45;cog"></i> -->
<!--       Settings -->
<!--     </a> -->
<!--   </li> -->
<!--   <li ng&#45;if="ctrl.dashboard.meta.canEdit"> -->
<!--     <a class="pointer" ng&#45;click="openEditView('annotations');"> -->
<!--       <i class="fa fa&#45;bolt"></i> -->
<!--       Annotations -->
<!--     </a> -->
<!--   </li> -->
<!--   <li ng&#45;if="ctrl.dashboard.meta.canEdit"> -->
<!--     <a class="pointer" ng&#45;click="openEditView('templating');"> -->
<!--       <i class="fa fa&#45;code"></i> -->
<!--       Templating -->
<!--     </a> -->
<!--   </li> -->
<!--   <li ng&#45;if="ctrl.dashboard.meta.canEdit"> -->
<!--     <a class="pointer" ng&#45;click="viewJson();"> -->
<!--       <i class="fa fa&#45;eye"></i> -->
<!--       View JSON -->
<!--     </a> -->
<!--   </li> -->
<!--   <li ng&#45;if="contextSrv.isEditor &#38;&#38; !dashboard.editable"> -->
<!--     <a class="pointer" ng&#45;click="makeEditable();">Make Editable</a> -->
<!--   </li> -->
<!--   <li> -->
<!--     <a class="pointer" ng&#45;click="saveDashboardAs();"> -->
<!--       <i class="fa fa&#45;save"></i> -->
<!--       Save As... -->
<!--     </a> -->
<!--   </li> -->
<!--   <li class="dropdown&#45;menu&#45;item&#45;with&#45;shortcut"> -->
<!--     <a class="pointer" ng&#45;click="showHelpModal();"> -->
<!--       <i class="fa fa&#45;question"></i> -->
<!--       Help <span class="dropdown&#45;menu&#45;item&#45;shortcut">h</span> -->
<!--     </a> -->
<!--   </li> -->
<!--   <li ng&#45;if="dashboardMeta.canSave"><a class="pointer" ng&#45;click="deleteDashboard();">Delete dashboard</a></li> -->
<!-- </ul> -->
<!--  -->
<!--  -->
