<div class="navbar-inner">
	<a class="navbar-brand-btn pointer" ng-click="ctrl.contextSrv.toggleSideMenu()">
		<span class="navbar-brand-btn-background">
			<img src="public/img/grafana_icon.svg"></img>
		</span>
		<i class="icon-gf icon-gf-grafana_wordmark"></i>
		<i class="fa fa-caret-down"></i>
		<i class="fa fa-chevron-left"></i>
	</a>

  <a class="navbar-page-btn navbar-search" ng-click="ctrl.showSearch()">
		<i class="fa fa-search"></i>
	</a>

	<div class="dropdown navbar-section-wrapper">
		<a href="{{ctrl.section.url}}" class="navbar-page-btn" data-toggle="dropdown">
			<i class="{{ctrl.section.icon}}" ng-show="ctrl.section.icon"></i>
			<img ng-src="{{ctrl.section.iconUrl}}" ng-show="ctrl.section.iconUrl"></i>
			{{ctrl.section.title}}
			<i class="fa fa-caret-down"></i>
		</a>
		<ul class="navbar-dropdown-menu">
			<li ng-repeat="navItem in ctrl.model.navItems" ng-class="{active: navItem.active}">
				<a class="pointer" href="{{navItem.url}}">
					<i class="{{navItem.icon}}" ng-show="{{navItem.icon}}"></i>
					{{navItem.title}}
				</a>
			</li>
		</ul>
	</div>

	<!-- <ul class="nav pull&#45;left" style="margin&#45;left: 20px"> -->
	<!-- 	<li ng&#45;repeat="navItem in ctrl.model.navItems" ng&#45;class="{active: navItem.active}"> -->
	<!-- 		<a class="pointer" href="{{navItem.url}}"> -->
	<!-- 			{{navItem.title}} -->
	<!-- 		</a> -->
	<!-- 	</li> -->
	<!-- </ul> -->
	<!--  -->

	<div ng-transclude></div>
</div>
